{% extends '@email/default/notification/body.html.twig' %}
{% block content %}
    <p>
        Hello {{ comment.author }}
        You're comment is accepted by admin! <br/>
        Best.
    </p>
{% endblock %}